*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.container-titulo{
    background-color: #282a35;
    display: block;
    padding: 10px;
    border: 2px solid rgb(202, 202, 206);
    color: rgb(229, 229, 236);
    max-height: 70px;
}

.container-titulo h1{
    margin-left: 200px;
}

.container-titulo{
    display: flex;
    align-items: center;
}

.mascote-go{
    max-width: 70px;
}

/* Footer */

.container-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #282a35;
    display: block;
    padding: 3px;
    border: 2px solid rgb(202, 202, 206);
    color: rgb(229, 229, 236);
    align-items: flex-end;
    text-align: center;
}

/*Sumário*/

.container-sumario{
    background-color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 45px;
    margin-bottom: 70px;
    width: 600px;
    height: 400px;
    font-size: 25px;
    border-radius: 15px;
    border: solid #717175 3px;
    
}

.container-sumario-pai{
    display: flex;
    justify-content: center;
}

.topicos{
    margin-bottom: 150px;
    color: #282a35;
}

.mascote-topicos{
    max-width: 100px;
}

.h2{
    justify-content: center;
    align-items: center;
}

.container-titulo-h2{  
    margin-bottom: 70px;
    display: flex; /* Para o icone */
}

a{
    text-decoration: none;
    color: #282a35;
}
a:hover{
    color: #00AED8;
}

.material-icons{
    font-size: 40px;
    padding-right: 5px;
}