*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Header */

.container-titulo{
    background-color: #282a35;
    display: block;
    padding: 10px;
    border: 2px solid rgb(202, 202, 206);
    color: rgb(229, 229, 236);
    max-height: 70px;
}

.container-titulo .drop-menu{
    margin-left: 200px;
}

.container-titulo .list:hover{
    cursor: pointer;
}

.container-titulo{
    display: flex;
    align-items: center;
}

.mascote-go{
    max-width: 70px;
}

.material-icons{
    color: #fff;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 5px;
}
.material-icons:hover{
    color: #00aed8;
}
/* Footer */

.container-footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: #282a35;
    display: block;
    padding: 3px;
    border: 2px solid rgb(202, 202, 206);
    color: rgb(229, 229, 236);
    align-items: flex-end;
    text-align: center;
}

/* Dropdown */

:root{
    --cor-fundo : #282a35;
    --cor-primaria : #fff;
    --cor-hover : #00aed8;
}

li a{
    text-decoration: none;
}

.drop-menu ul{
    list-style-type: none;
    background-color: var(--cor-fundo);
}

.drop-menu ul li{
    display: block;
    position: relative;
}
.drop-menu ul li ul a{
    display: block;
    color: var(--cor-primaria);
    padding: 10px;
    transition: background .3s;
    font-size: 18px;
}
.drop-menu ul li a:hover{
    background-color: var(--cor-hover);
}

/* Sub menu */
.drop-menu ul li ul{
    display: none;
    position: absolute;
}

.drop-menu ul li span:hover ul{
    display: block;
}

.drop-menu ul ul li a{
    width: 180px;
    display: block;
}

/* Conteudo */

.texto1 {
    background-color: #d1f6ff9f;
    margin: 0 10% 5% 10%;
    text-align: justify;
    width: 70%;
    border: 2px solid whitesmoke;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: var(--cor-hover) 10px 10px 30px;
}

.titulo-texto {
    margin: 5% 10% 1% 10%;
    text-align: justify;
    width: 70%;
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: var(--cor-hover) 1px 1px 5px;
}

.paragrafo {
    margin-bottom: 30px;
    }